.backToTop {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.backToTop i {
  font-size: 28px;
  color: #89CFF0;
  line-height: 0;
}

.backToTop:hover {
  background: #2eafec;
  color: #89CFF0;
}

.backToTop.active {
  visibility: visible;
  opacity: 1;
}

